body {
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(49, 47, 47);
}

main {
    height: 80%;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;

}

.articleone {
    display: flex;
    justify-content: flex-start;
    height: 80%;
    flex-direction: column;
    align-items: center;
    border: red 2px solid;
    background-color: black;
    width: 400px;

}

h2 {
    position: relative;
    top: 20px;
    text-decoration: underline rgb(155, 12, 12);

}

h3 {
    position: relative;
    top: 40px;
    text-decoration: underline rgb(155, 12, 12);
}

ul {
    position: relative;
    top: 60px;
    border: red 2px solid;
    background-color: black;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
}

p {
    color: red;
}

footer {
    display: flex;
    justify-content: space-evenly;
}

address {
    color: red;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

a {
    color: rgb(240, 65, 65);

}